body {
    background-image: url(quizback.jpg);
    color:white;
  }
  .block {
    background-color: black;
    block-size: 30vw;
    width: 40%;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    box-shadow: 20px 20px 20px black;
    margin: auto;
    margin-top: 10%;
    font-size: 2vw;
    border-radius: 4vw;
  }
  .b1,.b2 ,.b3,.b4,.b5,.b6,.b7{
    background-color: white;
    cursor: pointer;
    font-size: 2vw;
    border-radius: 4vw;

  }
  @media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .block{
      font-size: 7vw;
      block-size: 50vw;
      width: 50%;
      margin-top: 40%;
    }
}